# What is Pandas?

Pandas is a Python library used for working with data sets.
It has functions for analyzing, cleaning, exploring, and manipulating data.
The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories. Pandas can clean messy data sets, and make them readable and relevant.
Relevant data is very important in data science.

What Can Pandas Do?
Pandas gives you answers about the data. Like:
- Is there a correlation between two or more columns?
- What is average value?
- Max value?
- Min value?
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

In [1]:
# Create a simple Pandas Series from a list
import pandas as pd
a = [1, 7, 2]
var = pd.Series(a)
print(var)

0    1
1    7
2    2
dtype: int64

Output description: Each row in the output represents an index and value pair of Series objects. Indices start from 0 by default, and values are derived from the given list a. The data type 'int64' indicates that the values in the Series are 64-bit integers.

In [2]:
# Create Labels
a = [1, 7, 2]
var = pd.Series(a, index = ["x", "y", "z"])
print(var)
print(var["y"])

x    1
y    7
z    2
dtype: int64
7

Output description : Each row shows index and value pairs, similar to before. However, this time the indices are no longer the default indices (0, 1, 2), but ["x", "y", "z"] as specified. The data type 'int64' indicates that the values in the Series are 64-bit integers.

In [3]:
# Create a simple Pandas Series from a dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
var = pd.Series(calories)
print(var)

day1    420
day2    380
day3    390
dtype: int64

In [4]:
# Create a DataFrame from two Series
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
var = pd.DataFrame(data)
print(var)

   calories  duration
0       420        50
1       380        40
2       390        45

# Pandas DataFrames

What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [5]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [6]:
# Locate Row
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

Output description : the "calories" and "duration" columns are displayed together with the values in the first row (index 0) of the DataFrame.

In [7]:
# Use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

Output description : this output is a two-row representation of the DataFrame that corresponds to the index retrieved using df.loc[[0, 1]]

In [8]:
# Add a list of names to give each row a name
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

Output description : The index of this DataFrame row is now determined by ["day1", "day2", "day3"], which is adjusted to the value given in the index parameter. This output provides a more descriptive representation of the data, as the index now reflects the associated information ("day1", "day2", "day3").

In [9]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

Load Files Into a DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.

# Pandas Read CSV Files

In [10]:
df = pd.read_csv('Data.csv')
df.head()

,No,Tanggal,Kode Pelanggan,Nama Pelanggan,Kode Produk,Nama Produk,Qty,Harga Satuan,Total Penjualan,Diskon,Penjualan Bersih
0,1,1-Aug,NF-01,Toko Nofri,B-05,Besi 5 Meter,340,200000,68000000,0.1,61200000
1,2,1-Aug,AN-02,Toko Anton,B-10,Besi 10 Meter,140,375000,52500000,0.0,52500000
2,3,1-Aug,CT-03,Toko Central,P-5,Pipa 5 Meter,560,100000,56000000,0.2,44800000
3,4,2-Aug,CT-03,Toko Central,P-10,Pipa 10 Meter,230,185000,42550000,0.1,38295000
4,5,2-Aug,AN-02,Toko Anton,B-05,Besi 5 Meter,770,200000,154000000,0.2,123200000

In [11]:
# Load the CSV into a DataFrame
print(df.to_string())

    No Tanggal Kode Pelanggan Nama Pelanggan Kode Produk    Nama Produk  Qty  Harga Satuan  Total Penjualan  Diskon  Penjualan Bersih
0    1   1-Aug          NF-01     Toko Nofri        B-05   Besi 5 Meter  340        200000         68000000     0.1          61200000
1    2   1-Aug          AN-02     Toko Anton        B-10  Besi 10 Meter  140        375000         52500000     0.0          52500000
2    3   1-Aug          CT-03   Toko Central         P-5   Pipa 5 Meter  560        100000         56000000     0.2          44800000
3    4   2-Aug          CT-03   Toko Central        P-10  Pipa 10 Meter  230        185000         42550000     0.1          38295000
4    5   2-Aug          AN-02     Toko Anton        B-05   Besi 5 Meter  770        200000        154000000     0.2         123200000
5    6   2-Aug          NF-01     Toko Nofri        B-10  Besi 10 Meter  780        375000        292500000     0.2         234000000
6    7   2-Aug          AN-02     Toko Anton         P-5   Pipa 5 Meter  300        100000         30000000     0.1          27000000
7    8   2-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  790        185000        146150000     0.2         116920000
8    9   2-Aug          CT-03   Toko Central        B-05   Besi 5 Meter  440        200000         88000000     0.1          79200000
9   10   2-Aug          AN-02     Toko Anton        B-10  Besi 10 Meter  130        375000         48750000     0.0          48750000
10  11   3-Aug          NF-01     Toko Nofri         P-5   Pipa 5 Meter  360        100000         36000000     0.1          32400000
11  12   3-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  120        185000         22200000     0.0          22200000
12  13   3-Aug          AN-02     Toko Anton         P-5   Pipa 5 Meter  120        100000         12000000     0.0          12000000
13  14   3-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  720        185000        133200000     0.2         106560000
14  15   3-Aug          CT-03   Toko Central        P-10  Pipa 10 Meter  250        185000         46250000     0.1          41625000

In [12]:
# Print the DataFrame without the to_string() method
print(df)

    No Tanggal Kode Pelanggan Nama Pelanggan Kode Produk    Nama Produk  Qty  \
0    1   1-Aug          NF-01     Toko Nofri        B-05   Besi 5 Meter  340
1    2   1-Aug          AN-02     Toko Anton        B-10  Besi 10 Meter  140
2    3   1-Aug          CT-03   Toko Central         P-5   Pipa 5 Meter  560
3    4   2-Aug          CT-03   Toko Central        P-10  Pipa 10 Meter  230
4    5   2-Aug          AN-02     Toko Anton        B-05   Besi 5 Meter  770
5    6   2-Aug          NF-01     Toko Nofri        B-10  Besi 10 Meter  780
6    7   2-Aug          AN-02     Toko Anton         P-5   Pipa 5 Meter  300
7    8   2-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  790
8    9   2-Aug          CT-03   Toko Central        B-05   Besi 5 Meter  440
9   10   2-Aug          AN-02     Toko Anton        B-10  Besi 10 Meter  130
10  11   3-Aug          NF-01     Toko Nofri         P-5   Pipa 5 Meter  360
11  12   3-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  120
12  13   3-Aug          AN-02     Toko Anton         P-5   Pipa 5 Meter  120
13  14   3-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  720
14  15   3-Aug          CT-03   Toko Central        P-10  Pipa 10 Meter  250

    Harga Satuan  Total Penjualan  Diskon  Penjualan Bersih
0         200000         68000000     0.1          61200000
1         375000         52500000     0.0          52500000
2         100000         56000000     0.2          44800000
3         185000         42550000     0.1          38295000
4         200000        154000000     0.2         123200000
5         375000        292500000     0.2         234000000
6         100000         30000000     0.1          27000000
7         185000        146150000     0.2         116920000
8         200000         88000000     0.1          79200000
9         375000         48750000     0.0          48750000
10        100000         36000000     0.1          32400000
11        185000         22200000     0.0          22200000
12        100000         12000000     0.0          12000000
13        185000        133200000     0.2         106560000
14        185000         46250000     0.1          41625000

In [13]:
# Check the number of maximum returned rows
print(pd.options.display.max_rows)

60

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.
You can change the maximum rows number with the same statement.

In [14]:
# Increase the maximum number of rows to display the entire DataFrame
pd.options.display.max_rows = 9999
df = pd.read_csv('Data.csv')
print(df)

    No Tanggal Kode Pelanggan Nama Pelanggan Kode Produk    Nama Produk  Qty  \
0    1   1-Aug          NF-01     Toko Nofri        B-05   Besi 5 Meter  340
1    2   1-Aug          AN-02     Toko Anton        B-10  Besi 10 Meter  140
2    3   1-Aug          CT-03   Toko Central         P-5   Pipa 5 Meter  560
3    4   2-Aug          CT-03   Toko Central        P-10  Pipa 10 Meter  230
4    5   2-Aug          AN-02     Toko Anton        B-05   Besi 5 Meter  770
5    6   2-Aug          NF-01     Toko Nofri        B-10  Besi 10 Meter  780
6    7   2-Aug          AN-02     Toko Anton         P-5   Pipa 5 Meter  300
7    8   2-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  790
8    9   2-Aug          CT-03   Toko Central        B-05   Besi 5 Meter  440
9   10   2-Aug          AN-02     Toko Anton        B-10  Besi 10 Meter  130
10  11   3-Aug          NF-01     Toko Nofri         P-5   Pipa 5 Meter  360
11  12   3-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  120
12  13   3-Aug          AN-02     Toko Anton         P-5   Pipa 5 Meter  120
13  14   3-Aug          NF-01     Toko Nofri        P-10  Pipa 10 Meter  720
14  15   3-Aug          CT-03   Toko Central        P-10  Pipa 10 Meter  250

    Harga Satuan  Total Penjualan  Diskon  Penjualan Bersih
0         200000         68000000     0.1          61200000
1         375000         52500000     0.0          52500000
2         100000         56000000     0.2          44800000
3         185000         42550000     0.1          38295000
4         200000        154000000     0.2         123200000
5         375000        292500000     0.2         234000000
6         100000         30000000     0.1          27000000
7         185000        146150000     0.2         116920000
8         200000         88000000     0.1          79200000
9         375000         48750000     0.0          48750000
10        100000         36000000     0.1          32400000
11        185000         22200000     0.0          22200000
12        100000         12000000     0.0          12000000
13        185000        133200000     0.2         106560000
14        185000         46250000     0.1          41625000

# Pandas Read JSON Files

Big data sets are often stored, or extracted as JSON.
JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.
In our examples we will be using a JSON file called 'data.json'.

In [15]:
import pandas as pd

df = pd.read_json('iris.json')

print(df.to_string())

     sepalLength  sepalWidth  petalLength  petalWidth     species
0            5.1         3.5          1.4         0.2      setosa
1            4.9         3.0          1.4         0.2      setosa
2            4.7         3.2          1.3         0.2      setosa
3            4.6         3.1          1.5         0.2      setosa
4            5.0         3.6          1.4         0.2      setosa
5            5.4         3.9          1.7         0.4      setosa
6            4.6         3.4          1.4         0.3      setosa
7            5.0         3.4          1.5         0.2      setosa
8            4.4         2.9          1.4         0.2      setosa
9            4.9         3.1          1.5         0.1      setosa
10           5.4         3.7          1.5         0.2      setosa
11           4.8         3.4          1.6         0.2      setosa
12           4.8         3.0          1.4         0.1      setosa
13           4.3         3.0          1.1         0.1      setosa
14           5.8         4.0          1.2         0.2      setosa
15           5.7         4.4          1.5         0.4      setosa
16           5.4         3.9          1.3         0.4      setosa
17           5.1         3.5          1.4         0.3      setosa
18           5.7         3.8          1.7         0.3      setosa
19           5.1         3.8          1.5         0.3      setosa
20           5.4         3.4          1.7         0.2      setosa
21           5.1         3.7          1.5         0.4      setosa
22           4.6         3.6          1.0         0.2      setosa
23           5.1         3.3          1.7         0.5      setosa
24           4.8         3.4          1.9         0.2      setosa
25           5.0         3.0          1.6         0.2      setosa
26           5.0         3.4          1.6         0.4      setosa
27           5.2         3.5          1.5         0.2      setosa
28           5.2         3.4          1.4         0.2      setosa
29           4.7         3.2          1.6         0.2      setosa
30           4.8         3.1          1.6         0.2      setosa
31           5.4         3.4          1.5         0.4      setosa
32           5.2         4.1          1.5         0.1      setosa
33           5.5         4.2          1.4         0.2      setosa
34           4.9         3.1          1.5         0.2      setosa
35           5.0         3.2          1.2         0.2      setosa
36           5.5         3.5          1.3         0.2      setosa
37           4.9         3.6          1.4         0.1      setosa
38           4.4         3.0          1.3         0.2      setosa
39           5.1         3.4          1.5         0.2      setosa
40           5.0         3.5          1.3         0.3      setosa
41           4.5         2.3          1.3         0.3      setosa
42           4.4         3.2          1.3         0.2      setosa
43           5.0         3.5          1.6         0.6      setosa
44           5.1         3.8          1.9         0.4      setosa
45           4.8         3.0          1.4         0.3      setosa
46           5.1         3.8          1.6         0.2      setosa
47           4.6         3.2          1.4         0.2      setosa
48           5.3         3.7          1.5         0.2      setosa
49           5.0         3.3          1.4         0.2      setosa
50           7.0         3.2          4.7         1.4  versicolor
51           6.4         3.2          4.5         1.5  versicolor
52           6.9         3.1          4.9         1.5  versicolor
53           5.5         2.3          4.0         1.3  versicolor
54           6.5         2.8          4.6         1.5  versicolor
55           5.7         2.8          4.5         1.3  versicolor
56           6.3         3.3          4.7         1.6  versicolor
57           4.9         2.4          3.3         1.0  versicolor
58           6.6         2.9          4.6         1.3  versicolor
59           5.2         2.7          3.9         1.4  versicolor
60           5.0         2.0          3.5         1.0  versicolor
61           5.9         3.0          4.2         1.5  versicolor
62           6.0         2.2          4.0         1.0  versicolor
63           6.1         2.9          4.7         1.4  versicolor
64           5.6         2.9          3.6         1.3  versicolor
65           6.7         3.1          4.4         1.4  versicolor
66           5.6         3.0          4.5         1.5  versicolor
67           5.8         2.7          4.1         1.0  versicolor
68           6.2         2.2          4.5         1.5  versicolor
69           5.6         2.5          3.9         1.1  versicolor
70           5.9         3.2          4.8         1.8  versicolor
71           6.1         2.8          4.0         1.3  versicolor
72           6.3         2.5          4.9         1.5  versicolor
73           6.1         2.8          4.7         1.2  versicolor
74           6.4         2.9          4.3         1.3  versicolor
75           6.6         3.0          4.4         1.4  versicolor
76           6.8         2.8          4.8         1.4  versicolor
77           6.7         3.0          5.0         1.7  versicolor
78           6.0         2.9          4.5         1.5  versicolor
79           5.7         2.6          3.5         1.0  versicolor
80           5.5         2.4          3.8         1.1  versicolor
81           5.5         2.4          3.7         1.0  versicolor
82           5.8         2.7          3.9         1.2  versicolor
83           6.0         2.7          5.1         1.6  versicolor
84           5.4         3.0          4.5         1.5  versicolor
85           6.0         3.4          4.5         1.6  versicolor
86           6.7         3.1          4.7         1.5  versicolor
87           6.3         2.3          4.4         1.3  versicolor
88           5.6         3.0          4.1         1.3  versicolor
89           5.5         2.5          4.0         1.3  versicolor
90           5.5         2.6          4.4         1.2  versicolor
91           6.1         3.0          4.6         1.4  versicolor
92           5.8         2.6          4.0         1.2  versicolor
93           5.0         2.3          3.3         1.0  versicolor
94           5.6         2.7          4.2         1.3  versicolor
95           5.7         3.0          4.2         1.2  versicolor
96           5.7         2.9          4.2         1.3  versicolor
97           6.2         2.9          4.3         1.3  versicolor
98           5.1         2.5          3.0         1.1  versicolor
99           5.7         2.8          4.1         1.3  versicolor
100          6.3         3.3          6.0         2.5   virginica
101          5.8         2.7          5.1         1.9   virginica
102          7.1         3.0          5.9         2.1   virginica
103          6.3         2.9          5.6         1.8   virginica
104          6.5         3.0          5.8         2.2   virginica
105          7.6         3.0          6.6         2.1   virginica
106          4.9         2.5          4.5         1.7   virginica
107          7.3         2.9          6.3         1.8   virginica
108          6.7         2.5          5.8         1.8   virginica
109          7.2         3.6          6.1         2.5   virginica
110          6.5         3.2          5.1         2.0   virginica
111          6.4         2.7          5.3         1.9   virginica
112          6.8         3.0          5.5         2.1   virginica
113          5.7         2.5          5.0         2.0   virginica
114          5.8         2.8          5.1         2.4   virginica
115          6.4         3.2          5.3         2.3   virginica
116          6.5         3.0          5.5         1.8   virginica
117          7.7         3.8          6.7         2.2   virginica
118          7.7         2.6          6.9         2.3   virginica
119          6.0         2.2          5.0         1.5   virginica
120          6.9         3.2          5.7         2.3   virginica
121          5.6         2.8          4.9         2.0   virginica
122          7.7         2.8          6.7         2.0   virginica
123          6.3         2.7          4.9         1.8   virginica
124          6.7         3.3          5.7         2.1   virginica
125          7.2         3.2          6.0         1.8   virginica
126          6.2         2.8          4.8         1.8   virginica
127          6.1         3.0          4.9         1.8   virginica
128          6.4         2.8          5.6         2.1   virginica
129          7.2         3.0          5.8         1.6   virginica
130          7.4         2.8          6.1         1.9   virginica
131          7.9         3.8          6.4         2.0   virginica
132          6.4         2.8          5.6         2.2   virginica
133          6.3         2.8          5.1         1.5   virginica
134          6.1         2.6          5.6         1.4   virginica
135          7.7         3.0          6.1         2.3   virginica
136          6.3         3.4          5.6         2.4   virginica
137          6.4         3.1          5.5         1.8   virginica
138          6.0         3.0          4.8         1.8   virginica
139          6.9         3.1          5.4         2.1   virginica
140          6.7         3.1          5.6         2.4   virginica
141          6.9         3.1          5.1         2.3   virginica
142          5.8         2.7          5.1         1.9   virginica
143          6.8         3.2          5.9         2.3   virginica
144          6.7         3.3          5.7         2.5   virginica
145          6.7         3.0          5.2         2.3   virginica
146          6.3         2.5          5.0         1.9   virginica
147          6.5         3.0          5.2         2.0   virginica
148          6.2         3.4          5.4         2.3   virginica
149          5.9         3.0          5.1         1.8   virginica

In [16]:
# Load a Python Dictionary into a DataFrame
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

source : 
https://www.w3schools.com/python/pandas/default.asp