# List

List is the most versatile data type available in Python, which can be written as a comma-separated list of values (items) between square brackets.

In [1]:
car=["mercedes","BMW","Ferrari","Toyota"]
print(car[2])
(type(car))

Ferrari

list

In [2]:
#sub list using slice
y  = ['cat','cow','elephan','fish','horse']
y[0:3]

['cat', 'cow', 'elephan']

In [3]:
#add list elements using "append"
x = [10,20,30,50]
x.append(40)
x

[10, 20, 30, 50, 40]

In [4]:
#add list elements using "insert"
x = [10,20,30,50]
x.insert(2,90)
x

[10, 20, 90, 30, 50]

In [5]:
#add list elements using "extend"
x = [10,20,30,50]
x.extend([66,77,88])
x

[10, 20, 30, 50, 66, 77, 88]

In [6]:
#remove a list element using "del"
x = [10,20,30,40,50]
del x[2] #removes the second order list element (starting from 0)
x

[10, 20, 40, 50]

In [7]:
#remove a list element using "remove"
x = [10,20,30,40,50]
x.remove(20)
x

[10, 30, 40, 50]

In [8]:
#remove a list element using "pop"
x = [10,20,30,40,50]
nilai = x.pop()
nilai = 50
x

[10, 20, 30, 40]

In [9]:
#1a. Sort list elements

x = [50,10,40,20,30] #using sorted function
y = sorted(x)
print(y)

x = [50,10,40,20,30] #using method sort
x.sort()
print(x)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [10]:
#1b. Reverse the order of list elements

x = [50,10,40,20,30] #using reverse function
x.reverse()
x

[30, 20, 40, 10, 50]

In [11]:
#1c. Finding maximum and minimum values
x = [300, 210, 500, 100, 150]
print (min(x))
print (max(x))

100
500

# Dictionary

-Dictionaries are used to create group data when the member values can change, but the indexes can be self-defined
- The dictionary is created with a prefix ({ }) and each member is a key-value pair.
- The key and value are separated by a colon (:).

In [12]:
d = {1:100, 2:200, 3:300, 4:400, 5:500}
print(d)
(type(d))
"""
- d is a dictionary whose elements are indexed from 1 to 5.
- Accessing the elements of the dictionary is like a list using the bracket ([]) tag.
"""

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

'\n- d is a dictionary whose elements are indexed from 1 to 5.\n- Accessing the elements of the dictionary is like a list using the bracket ([]) tag.\n'

In [13]:
d = {1:100, 2:200, 3:300, 4:400, 5:500}
print(d[1])
print(d[2])
print("")
print(d.get(1))
print(d.get(2))

100
200

100
200

In [14]:
# The index of the dictionary does not have to be an integer type, but can also be a string.
d = {'one':100, 'two':200, 'three':300, 'four':400, 'five':500}
print(d['one'])
print(d['two'])
print("")
print(d.get('one'))
print(d.get('two'))

100
200

100
200

In [15]:
# The dictionary element values can be of any type and are not of the same type.
employee = {
    'id'    : "A001",
    'name'  : "Giannis",
    'salary': 29000000
}
print(employee['id'])
print(employee['name'])
print(employee['salary'])

A001
Giannis
29000000

In [16]:
# Adding the dictionary element
d = {}
d['one'] = 100
d['two'] = 200
d['three'] = 300
d

{'one': 100, 'two': 200, 'three': 300}

In [17]:
# Changing the dictionary element
d = {'one':100, 'two':200, 'three':300, 'four':400, 'five':500}
d['one'] = 99
print(d)
(len(d))

{'one': 99, 'two': 200, 'three': 300, 'four': 400, 'five': 500}

5

In [18]:
# Removing dictionary elements
d = {'one':100, 'two':200, 'three':300, 'four':400, 'five':500}
del d['one']
d

{'two': 200, 'three': 300, 'four': 400, 'five': 500}

# Tuple

- Tuple is used to create grouped data where the value of each member cannot be changed.
- Tuple is created with brackets ()

In [19]:
t = (10,20,30,40,50,20,70,30,30)
print(t)
print(t[0])
print(t.count(30))
(type(t))

(10, 20, 30, 40, 50, 20, 70, 30, 30)
10
3

tuple

# Set

- Set is used to create grouped data that has no duplication of data
- Data comes from list, dictionary, tuple, or string

In [20]:
a = [10, 20, 30]
s = set(a)
print(s)
(type(a))

{10, 20, 30}

list

In [21]:
"""
- Set is used to produce a set or group of data where each element is unique.
- The set is an object of the set class
- If the source data has several elements in common then those elements will automatically be removed.
"""
a = [10, 20, 10, 10, 30, 40, 20]
s = set(a)
s

{10, 20, 30, 40}

In [22]:
#adding set elements
a = [10, 20, 50, 50]
s = set(a)
s.add(40) #using add
s

{10, 20, 40, 50}